{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="login-container">
    <div class="login-box">
        <h2 class="text-center mb-4">Login</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username</label>
                <input type="text" name="username" id="{{ form.username.id_for_label }}" value="{{ form.username.value|default_if_none:'' }}" class="form-control" placeholder="VK23">
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Password</label>
                <input type="password" name="password" id="{{ form.password.id_for_label }}" class="form-control" placeholder="••••••••">
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <button type="submit" class="btn btn-gradient w-100">LOGIN</button>
        </form>
    </div>
</div>
{% endblock %}